{% extends '../layout.html' %}

{% block title %}Prova da Terra{% endblock %}

{% block head_styles %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/air.css">
{% endblock %}

{% block menu %}
    {% include '../menu.html' %}
{% endblock %}

{% block yield %}

<header class='top-header'>
    <h1 class="text-center">Prova do Ar</h1>
</header>


<div class="container">
    <ul class="users-list inline-list text-center">
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile-1.jpg" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile-1.png" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile.jpg" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile-2.jpg" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile-2.jpg" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile.png" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile-1.png" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
        <li class='col-md-3'>
            <div class="avatar-thumb">
                <img src="/assets/images/profile-1.jpg" alt="Perfil #1" class='img-circle img-responsive'>
            </div>
            <div class="user-profile-info text-center">
                <p><i class="fa fa-user"></i> João Ribeiro</p>
                <p><i class="fa fa-map-marker"></i> São Paulo, Brasil</p>
                <p><i class="fa fa-facebook-square"></i> Facebook</p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript" src="/assets/scripts/air.js"></script>
{% endblock %}
