{% extends '../layout.html' %}

{% block title %}Prova da Terra{% endblock %}

{% block head_styles %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/terra.css">
{% endblock %}

{% block menu %}
    {% include '../menu.html' %}
{% endblock %}

{% block yield %}

<header>
    <h1 class="text-center">Prova da Terra</h1>
</header>

<ul class="nav nav-tabs">
  <li class="active antes"><a href="#">Antes</a></li>
  <li class="depois"><a href="#">Depois</a></li>
</ul>

<div class="container div-antes">
    <div class="row text-center div-reutilizar div-re">
        <div>
            <img class="img-circle" data-src="holder.js/300x200" alt="Water" src="http://dummyimage.com/150x150&text=RE" width="150">
                <h3>Reutilizar antes</h3>
                <div class="caption text-left">
                    <label>Como fará?</label>
                    <input type="text">
                    <p>impactados <input type="number"></p>
                    <p>E como foi a experiência?</p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center div-re">
            <div>
                <img class="img-circle" data-src="holder.js/300x200" alt="Water" src="http://dummyimage.com/150x150&text=RE" width="150">
                <h3>Reutilizar</h3>
                <div class="caption text-left">
                    <label>Como fará?</label>
                    <input type="text">
                    <p>impactados <input type="number"></p>
                    <p>E como foi a experiência?</p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center div-re">
            <div>
                <img class="img-circle" data-src="holder.js/300x200" alt="Water" src="http://dummyimage.com/150x150&text=RE" width="150">
                <h3>Reutilizar</h3>
                <div class="caption text-left">
                    <label>Como fará?</label>
                    <input type="text">
                    <p>impactados <input type="number"></p>
                    <p>E como foi a experiência?</p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-right">
        <button class="btn btn-success">Salvar</button>
    </div>
</div>

<div class="container div-depois">
    <div class="row text-center div-reutilizar div-re">
        <div>
            <img class="img-circle" data-src="holder.js/300x200" alt="Water" src="http://dummyimage.com/150x150&text=RE" width="150">
                <h3>Reutilizar</h3>
                <div class="caption text-left">
                    <label>Como fará?</label>
                    <input type="text">
                    <p>impactados <input type="number"></p>
                    <p>E como foi a experiência?</p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center div-re">
            <div>
                <img class="img-circle" data-src="holder.js/300x200" alt="Water" src="http://dummyimage.com/150x150&text=RE" width="150">
                <h3>Reutilizar</h3>
                <div class="caption text-left">
                    <label>Como fará?</label>
                    <input type="text">
                    <p>impactados <input type="number"></p>
                    <p>E como foi a experiência?</p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center div-re">
            <div>
                <img class="img-circle" data-src="holder.js/300x200" alt="Water" src="http://dummyimage.com/150x150&text=RE" width="150">
                <h3>Reutilizar</h3>
                <div class="caption text-left">
                    <label>Como fará?</label>
                    <input type="text">
                    <p>impactados <input type="number"></p>
                    <p>E como foi a experiência?</p>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-right">
        <button class="btn btn-success">Salvar</button>
    </div>
</div>


{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript" src="/assets/scripts/terra.js"></script>
{% endblock %}
