{% extends '../layout.html' %}

{% block title %}Prova de Fogo{% endblock %}

{% block head_styles %}
<link rel="stylesheet" type="text/css" href="/assets/styles/fire.css">
{% endblock %}

{% block menu %}
    {% include '../menu.html' %}
{% endblock %}

{% block yield %}

<header>
    <h1 class="text-center">Prova de Fogo</h1>
</header>

<div class="container">
    <h1>No mundo todo!</h1>
    <p class="lead">Há participantes pelo mundo inteiro fazendo a mudança acontecer! <strong>E você, onde vai tornar um lugar melhor?</strong></p>
    <p>Digite o nome do local no campo abaixo do mapa e encontramos para você!</p>
</div>
<div id="map"></div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <input type="text" class="form-control map-input" placeholder="p.ex: Avenida Paulista, São Paulo, SP">
        </div>
        <div class="col-md-3">
            <button class="btn-map-select btn btn-primary">Selecionar no Mapa</button>
        </div>
    </div>
</div>

<div class="container">
    <h2>2. PDCA?</h2>
    <blockquote>
        Descreva rapidamente como será o seu projeto
    </blockquote>

    <div class="row">
        <div class="col-md-9">
            <textarea class="form-control" rows="3" placeholder="Um pouco hdasuhsaduh dshauh "></textarea>
        </div>
        <div class="col-md-3">
            <p class="muted">Nós valorizamos muito o conteúdo colocado pelos participantes. Seria genial se entrasse com fotos, vídeos e tudo mais que teve de legal!</p>
        </div>
    </div>

    <p class="lead">Fotos Legais!</p>
    <label>Coloque umas fotos e vídeos bem bacanas que descrevam sua experiência!</label>
    <input type="file">

</div>

<div class="container">
    <h2>3. Desenvolvimento</h2>
    <blockquote>
        Como foi a execução?
    </blockquote>

    <div class="row">
        <div class="col-md-9">
            <textarea class="form-control" rows="3" placeholder="Um pouco hdasuhsaduh dshauh "></textarea>
        </div>
        <div class="col-md-3">
            <p class="muted">Execução é uma das principais métricas para indicar sua força de vontade ... Diga mais .... </p>
        </div>
    </div>

    <div class="row text-center" style='margin-top:30px;'>
        <a href="/missions/?completed=5" class="btn btn-success btn-lg">Próximo</a>
        <a href="/missions/?completed=4" class="btn btn-default btn-lg">Anterior</a>
    </div>

</div>


{% endblock %}

{% block footer_scripts %}
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?&sensor=true"></script>
<script type="text/javascript" src="/assets/scripts/geo_data.js"></script>
<script type="text/javascript" src="/assets/scripts/markercluster.js"></script>
<script type="text/javascript" src="/assets/scripts/fire.js"></script>
{% endblock %}
