{% extends '../layout.html' %}

{% block title %}Missões{% endblock %}

{% block menu %}
    {% include '../menu.html' %}
{% endblock %}

{% block yield %}
<header class="top-header text-center">Suas missões</header><br />

<div class="missions-badge-bar">
    <div class="container">
        <p></p>
    </div>
</div>

<div class="container">
    <div class="row missions-list-square">
        <div class="col-sm-6 col-md-3 mission {% if !completed || completed == 1 %} current {% endif %}">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="Water" src="/assets/images/missions/water.png" style="width: 150px; height: 100px;">
                <div class="caption">
                    <h3>Prova da água</h3>
                    <p>Aqui começa sua aventua de autoconhecimento!</p>
                    <p align="center" class='mg-10'><a href="/mission/water" class="btn btn-primary" role="button">Começar</a> <a href="#" data-toggle="modal" data-target="js_modal_status" class="btn btn-default btn-status" role="button">Status</a></p>
                </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {% if completed > 1 %} 100% {% else %} 10% {% endif %}">
                            <span class="sr-only">100%</span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 mission {% if completed == 2 %} current {% endif %}">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="Wind" src="/assets/images/missions/wind.png" style="width: 150px; height: 100px;">
                <div class="caption">
                    <h3>Prova do ar</h3>
                    <p>Conexão é o que nos move, una-se a outros participantes e compartilhe suas ideias.</p>
                    <p align="center" class='mg-10'><a href="/mission/air" class="btn btn-primary" role="button">Começar</a> <a href="#" class="btn btn-default btn-status" role="button">Status</a></p>
                </div>
                {% if completed %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="10" style="width: {% if completed > 2 %} 100% {% else %} 0% {% endif %}">
                            <span class="sr-only">10%</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-6 col-md-3 mission {% if completed == 3 %} current {% endif %}">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="Wind" src="/assets/images/missions/earth.png" style="width: 150px; height: 100px;">
                <div class="caption">
                    <h3>Prova do terra</h3>
                    <p>O ambiente não nos determina mas influencia. Como você pode melhorar o seu.</p>
                    <p align="center" class='mg-10'><a href="/mission/earth" class="btn btn-primary" role="button">Começar</a> <a href="#" class="btn btn-default" role="button">Status</a></p>
                    {% if completed %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="10" style="width: {% if completed > 3 %} 100% {% else %} 0% {% endif %}">
                                <span class="sr-only">10%</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 mission {% if completed == 4 %} current {% endif %}">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="Fire" src="/assets/images/missions/fire.png" style="width: 100px; height: 100px;">
                <div class="caption">
                    <h3>Prova do fogo</h3>
                    <p>Agora é que são elas! Mostre que ao mundo do que você é capaz!</p>
                    <p align="center" class='mg-10'><a href="/mission/fire/" class="btn btn-primary btn-" role="button">Começar</a> <a href="#" class="btn btn-default" role="button">Status</a></p>
                    {% if completed %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="10" style="width: {% if completed > 4 %} 100% {% else %} 0% {% endif %}">
                                <span class="sr-only">10%</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 mission text-center hidden {% if completed >= 5 %} visible {% endif %}">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="Fire" src="/assets/images/missions/fire.png" style="width: 100px; height: 100px;display: inline-block;">
                <img data-src="holder.js/300x200" alt="Fire" src="/assets/images/missions/wind.png" style="width: 100px; height: 100px;display: inline-block;">
                <img data-src="holder.js/300x200" alt="Fire" src="/assets/images/missions/earth.png" style="width: 100px; height: 100px;display: inline-block;">
                <img data-src="holder.js/300x200" alt="Fire" src="/assets/images/missions/water.png" style="width: 100px; height: 100px;display: inline-block;">
                <div class="caption">
                    <h3>Nhanderekó</h3>
                    <p>Momento de refletir, pense em tudo o que realizou e aprenda ainda mais sobre si mesmo</p>
                    <p align="center" class='mg-10'><a href="/mission/nhandereko/" class="btn btn-primary btn-" role="button">Começar</a> <a href="#" class="btn btn-default" role="button">Status</a></p>
                    {% if completed %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="10" style="width: {% if completed > 5 %} 100% {% else %} 0% {% endif %}">
                                <span class="sr-only">10%</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<div>
{% endblock %}

{% block footer_scripts %}
<script type="application/javascript">

$(function () {
    var queryString = getQueryString();

    if (queryString) {
        var level = queryString.split('=')[1];
        var verifiedIcon = '<i class="fa fa-check"></i>';

        switch (level) {
            case '2':
            showBadgeBar(verifiedIcon + ' Parabéns! Você completou a missão Prova Dágua! Continue em frente!');
            break;

            case '3':
            showBadgeBar(verifiedIcon + ' Parabéns! A prova do Ar foi completada com sucesso! Vamos em frente!');
            break;

            case '4':
            showBadgeBar(verifiedIcon + ' A prova da Terra foi completa! Já é quase um guerreiro! ');
            break;

            case '5':
            showBadgeBar(verifiedIcon + ' A prova de fogo foi completa com sucesso! Falta pouco pra se tornar um guerreiro! ');
            break;
        }
    }

});

</script>
{% endblock %}
