{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block yield %}
<div id="home">
	<section class="container login-wrapper">

		<header class='text-left' style='color:#ffffff;text-shadow:2px 2px 2px rgba(0,0,0,0.5)'><h1>Junto podemos <strong>mais</strong> :)</h1></header>
		<div class="row voffset5">
			<div class="login-type-select col-md-4 col-sm-8">
				<a href="/profile/fidelis" class="btn btn-block btn-social btn-lg btn-facebook btn-login2" id="login-facebook"><i class="fa fa-facebook"></i>Cadastro com Facebook</a>
				<a href='/signup' class="btn btn-block btn-social btn-lg btn-default btn-login2" id="login-email"><i class="fa fa-envelope"></i>Cadastro com email</a>
			</div>
		</div>
	</section>
</div>
{% endblock %}