{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block yield %}
<header class="top-header text-center" style='display:none'>
	Jogo do cinco caminhos
</header>
<div id="home">
	<section class="container login-wrapper">

		<header class='text-left' style='color:#ffffff;text-shadow:2px 2px 2px rgba(0,0,0,0.5)'><h1>Junto podemos <strong>mais</strong> ;)</h1></header>
		<div class="row voffset5">
			<div class="login-type-select col-lg-6 col-lg-offset-0">
				<a href="/profile/fidelis" class="btn btn-block btn-social btn-lg btn-facebook btn-login2" id="login-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
				<a href='/signup' class="btn btn-block btn-social btn-lg btn-default btn-login2" id="login-email"><i class="fa fa-envelope"></i>Login w/ email</a>
			</div>
		</div>
	</section>
</div>
{% endblock %}