<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nhandereko| {% block title %}{% endblock %} </title>

        {% block meta %}
        <!-- Search Engine -->
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Team Nhandereko <team@nhandereko.com>"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FB -->
        <meta property="og:type" content="social"/>
        <meta property="og:title" content="Nhandereko"/>
        <meta property="og:url" content="{{ host }}" />
        <meta property="og:image" content="{{ host }}/public/assets/fb-share.png"/>
        <meta property="og:site_name" content="Nhandereko"/>
        <meta property="og:description" content="Nhandereko" />

        {% endblock %}

        <link rel="canonical" href="{{ host }}">
        <link rel="shortcut icon" href="favicon.ico"/>

        <!-- iOS -->
        <link rel="apple-touch-icon" href="touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">

        <!--[if lt IE 9]>
          <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js">
        <![endif]-->

        <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/styles/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/assets/styles/main.css">

        {% block head_styles %}
        {% endblock %}

    </head>
    <body>
    {% block menu %} {% endblock %}
    <!--[if lt IE 10]>
        <p class="browsehappy">Você está usando um navegador <strong>desatualizado</strong>. Por favor <a href="http://browsehappy.com/" target="_blank">atualize seu nevegador</a> para ter uma experiência completa neste site.</p>
    <![endif]-->

    <section class="main-wrapper" id="site_wrapper">
        <article class="wrapper site-wrapper">
            {% block yield %} {% endblock %}
        </article>
    </section>

    <footer></footer>

    <script src="/assets/scripts/vendor.js"></script>
    <script src="/assets/scripts/bootstrap.min.js"></script>
    <script src="/assets/scripts/main.js"></script>

    {% block footer_scripts %} {% endblock %}

    </body>
</html>
